* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 10px;
  font-family: sans-serif;
  padding: 1rem;
  margin: 0;
}

h1 {
  font-size: 3.6rem;
  margin-bottom: 2.4rem;
  margin-top: 0;
}

h2 {
  font-family: monospace;
  font-size: 2.4rem;
  margin-bottom: 1.8rem;
}

.version {
  color: #717171;
  font-size: .5em;
}

.form {
  width: 100%;
}

.form label, .form label span {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  width: fit-content;
}

.form label {
  margin-bottom: 1rem;
}

.underline {
  cursor: pointer;
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.underline:hover {
  color: #fff;
}

input, textarea {
  border: 2px solid;
}

button:disabled {
  background-color: #aaa;
  color: aliceblue;
}

#copy-button {
  background-color: #f90433;
  border: none;
  color: aliceblue;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: .4rem 4rem;
  pointer-events: none;
  opacity: 0;
}

#copy-button:hover {
  cursor: pointer;
  opacity: .8!important;
}

.show-button {
  transition: .3s;
  opacity: 1!important;
  pointer-events: initial!important;
}

#correct-button {
  padding: 2rem;
  font-size: 2rem;
  width: 100%;
}

.grid {
  display: flex;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1rem;
}

.correcter-wrap {
  width: 100%!important;
}

#timecodes {
  margin-top: 0;
}

.data {
  background-color: #e0763e;
  box-shadow: 0 7px 14px #000 inset;
  padding: 1rem 1rem 0;
}

.result-wrapper {
  color: #fff;
  background-color: #3E6990;
  box-shadow: 0 7px 14px #000 inset;
  height: available;
  padding: 1rem;
  width: 100%;
}

#result {
  background-color: #345b7f;
  font-size: 1.2rem;
  max-height: 50vh;
  overflow: auto;
}

#is-corrected {
  background-color: #ecead8;
  box-shadow: 0 0 2px #000 inset;
  font-size: 2rem;
  padding: .8rem;
}
